
body {
  font-family: 'Oswald', sans-serif, serif; font-weight: 300; 
font-size: 13px;
line-height: 1.4;
color: #333333;
background-color: #f7f7f7;
-webkit-font-smoothing: antialiased;
margin-right:0px;
margin-left:0px;
margin-top:0px;
position:relative;
-webkit-font-smoothing: antialiased;
    }

    #slides {
      display: none
      top:100px;
    }
/* positioning of the left thing */
    #slides .slidesjs-navigation {
	 overflow: hidden; 
	  margin-bottom:3px;
	  bottom:30px;
	  margin-top:-52px;
	  z-index:110px;
	  display:none;
    }
	/*  THIS IS THE PLAY AND PAUSE BUTTON  ON THE LEFT HOLY  */
    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(img/btns-next-prev.png);
      background-repeat: no-repeat;
      width:12px;
      height:18px;
      text-indent: -9999px;
      float: left;
      margin-right:7px;
	  margin-top:100;
      z-index:100;
	  display:none;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
	  position:relative;
	z-index: 100;
	 overflow: hidden;
	  margin-bottom:1px
	  display:none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
      z-index:100;
	  margin-top:-20px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

	#slides {
      display: none;
	  position:relative;

    }

    .container {
    	margin:0;
      position:relative;
    left:0;
    top:0;
	background-color: #F0F0F0;
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
      	position:relative;
        width: auto;
		margin-top: 0px;
		height:auto;
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
       width: auto;		
		margin-top: 0px;
		height:auto;
      }
	  .secondpanel {
	margin-top: -120px;
	}
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 100%;
		margin-top: 0px;
		height:700px;
      }
    }

   
	#footer {
	margin-top:0px;
padding-top: 20px;
color: black;
padding-right: 20%;
padding-left: 20%;
padding-bottom:10px;
background-color: #F8F8F8   ;
border-color:#484848  ;
border-style: solid;
border-color:black;
border-width: 0px;
border-bottom: 0;
border-right:0;
border-left:0;
float: center;
}
div {
display: block;
}
.secondpanel {
margin-top:-42px;
margin-bottom:0px;
background-color: #F0F0F0;
width: 100%;
margin-left: auto;
margin-right: auto;
padding-left: 14%;
padding-right: 10%;
box-sizing: border-box;
border-style: solid;
border-color:#A8A8A8;
border-width: 0px;
border-bottom: 0;
border-right:0;
border-left:0;
padding-bottom:10px;
padding-top:5%;
} 
#spacetop {
margin-top:37.5px
}
div.logotitle {
z-index:100;
font-size:30px;
    position:absolute;    
    color:white;
    font-weight:bold;
    left:150px;
    top:150px;
	background-color:rgba(0,0,0,0.5);
}
div.navbar {
 font-family: 'Oswald', sans-serif, serif; font-weight: 400; 
	background-color:black;
	height: 50px;
	width: 100%;
	position:fixed;
	top:-1px;
	z-index:150;

}
/* Input is the button themselves, change the color of text or background */
input {
  font-family: 'Oswald', sans-serif, serif; font-weight: 400; 
width:150px;
   height:50px;
   padding: 0;
   margin: 0;
   outline:none;
-moz-appearance:none;
-webkit-appearance:none;
box-shadow:none;
	border: none;
	box-shadow:none;
	color:white;
	background-color:black;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-transform: scale();
	-moz-transform: scale();
	-ms-transform: scale();
	-o-transform: scale();
	transform: scale();
	-webkit-backface-visibility: hidden;

}
input:hover{
background:white;
color:black;
}
button {
margin: 0;
outline:none;
-moz-appearance:none;
-webkit-appearance:none;
box-shadow:none;
padding: 0;
}

h1 {
font-size:40;
font-family: 'Oswald', sans-serif, serif; font-weight: 400; 

}
p {
font-size:16;
font-family: 'Oswald', sans-serif, serif; font-weight: 300; 
}
center.quotes {
font-size:20;
font-family: 'Oswald', sans-serif, serif; font-weight: 400; 
}
h2 {
	font-size: 30;
}
.secondpanel .aboutus,
.secondpanel .videocol,
#maps,
iframe.mapps ,
#contactus {
display:none;
}
 /* For larger displays */
    @media (min-width: 980px) {
      .container {
	width: auto;
		margin-top: 0px;
		height:700px;
      }
	.secondpanel {
	padding-top: 120px;
	}
    }